.login {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: #333333ee;
    
    &__form {
        padding: 20px;
        border-radius: 10px;
        background-color: #ffffff;
        opacity: 1;
    }
    
    
    
    &__field {
        display: flex;
        flex-direction: column;
        border: none;
    }

    &__title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    &__input {
        margin-bottom: 10px;
    }

    &__button {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}