.login {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
  
    
    &__field {
        display: flex;
        flex-direction: column;
        border: none;
    }

    &__title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    &__input {
        margin-bottom: 10px;
    }

    &__button {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}